
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logo{
    position: relative;
    left: 50px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #222;
  padding-bottom: 50px;
  
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}
body {
    font-family: 'Muli', sans-serif;
    /* align-items: center;
    justify-content: center; */
    height: 100vh;
    margin: 0;
  }
  
  .container2 {
    display: flex;
    width: 90vw;
  }
  
  .panel {
    top: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    -webkit-transition: all 700ms ease-in;
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
  }
  
  .panel.active {
    flex: 5;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  
  @media (max-width: 480px) {
    .container2 {
      width: 100vw;
    }
  
    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
      display: none;
    }
  }
.text-center2 {
     position: relative;
     top: 100px;
}
.about {
    position: relative;
    top: 100px;
}

tbody>tr>td{
    color: rgb(43, 42, 42);
    font-size:18px;
    font-weight: 500;
  }


  .card-title{
    text-align: center;
    color: rgb(43, 255, 0);
    font-weight: 800;
  }
  .var h2{
      position: relative;
    padding-top: 80px;
    padding-bottom: 20px;
    font-weight: bolder;
    text-align: center;
    top: 30px;
  }
  .col-md-4{
    border-radius: 30%;
    padding: 10px;
  }
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: auto;

}
.card-img-top{
    border-radius: 30px;
    cursor: pointer;   
}



tbody>tr>td{
  color: rgb(43, 42, 42);
  font-size:18px;
  font-weight: 500;
}
#billAmount {
  color: black;
}
#header{
  font-family: 'Tangerine', serif;
font-size: 60px;
text-align: center;

font-weight:bold;
text-shadow: 6px 4px 4px rgb(172, 15, 132);



}
#text{
  color: #c0392b;
}
